<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<h2>User info</h2>
			<%= attachment_image_tag current_user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
			<table class="table">
				<tbody>
					<tr><td>name</td><td><%= current_user.name %></td></tr>
					<tr><td>introduction</td><td><%= current_user.introduction %></td></tr>
				</tbody>
			</table>
			<%= link_to "edit", edit_user_path(current_user.id) %>
			<h2>New book</h2>
			<%= form_for(@book) do |f| %>
			<h5>Title</h5>
			<%= f.text_field :title %>
			<h5>Opinion</h5>
			<%= f.text_area :opinion %>
			<%= f.submit "Create Book" %>
			<% end %>
		</div>
		<div class="col-sm-9">
			<h2>Users</h2>
			<table class="table">
				<thead>
					<tr><th>image</th><th>name</th><th></th></tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
					<tr><td><%= attachment_image_tag user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", style: "width: 50px; height: 50px;" %></td><td><%= user.name %></td><td><%= link_to "Show", user_path(user) %></td></tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
