<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<h2>User info</h2>
			<img >
			<table class="table">
				<tbody>
					<tr><td>name</td><td>ss</td></tr>
					<tr><td>introduction</td><td>123</td>
				</tbody>
			</table>
			<%= link_to "edit", edit_user_path %>
			<h2>New book</h2>
			<%= form_for(@book) do |f| %>
			<h5>Title</h5>
			<%= f.text_field :title %>
			<h5>Opinion</h5>
			<%= f.text_area :opinion %>
			<%= f.submit "Create Book" %>
			<% end %>
		</div>
		<% if @books.user_id == current_user.id %>
		<div class="col-sm-9">
			<h2>Book detail</h2>
			<table class="table">
				<tbody>
					<tr><td></td><td><a href="" book_path ><%= @books.title %></a></td><td><%= @books.opinion %></td><td>edit</td><td>destroy</td></tr>
				</tbody>
			</table>
		</div>
		<% else %>
		<div class="col-sm-9">
			<h2>Book detail</h2>
			<table class="table">
				<tbody>
					<tr><td></td><td><a href= "" book_path ><%= @books.title %></a></td><td><%= @books.opinion %></td></tr>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
</div>
