<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<h2>User info</h2>
			<%= attachment_image_tag current_user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
			<table class="table">
				<tbody>
					<tr><td>name</td><td><%= current_user.name %></td></tr>
					<tr><td>introduction</td><td><%= current_user.introduction %></td></tr>
				</tbody>
			</table>
			<%= link_to "edit", edit_user_path(current_user.id) %>
			<h2>New book</h2>
			<%= form_for(@book) do |f| %>
			<h5>Title</h5>
			<%= f.text_field :title %>
			<h5>Opinion</h5>
			<%= f.text_area :opinion %>
			<%= f.submit "Create Book" %>
			<% end %>
		</div>
		<% if @books.user_id == current_user.id %>
		<div class="col-sm-9">
			<h2>Book detail</h2>
			<table class="table">
				<tbody>
					<tr><td><%= attachment_image_tag @books.user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", style: "width: 50px; height: 50px;" %><br><%= link_to @books.user.name, user_path(@books.user.id) %></td><td><%= @books.title %></td><td><%= @books.opinion %></td><td><%= link_to "Edit", edit_book_path %></td><td><%= link_to "Destroy", book_path(@books), method: :delete, "data-confirm" => "本当に消しますか？" %></td></tr>
				</tbody>
			</table>
		</div>
		<% else %>
		<div class="col-sm-9">
			<h2>Book detail</h2>
			<table class="table">
				<tbody>
					<tr><td><%= attachment_image_tag @books.user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", style: "width: 50px; height: 50px;" %><br><%= link_to @books.user.name, user_path(@books.user.id) %></td><td><a href= "" book_path ><%= @books.title %></a></td><td><%= @books.opinion %></td></tr>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
</div>
